<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Application</title>
</head>
<body>
    <h1>Type in the secret code to become admin</h1>
    <h3>User <%= currentUser.username %></h3>
    <form action="" method="POST">
    <label for="code">Code</label>
    <input name="code" type="text" />
    <button>Submit</button>
</body>
</html>