
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Please log in</h1>
  <form action="/log-in" method="POST">
  <label for="email">Email</label>
  <input name="email" placeholder="email@email.com" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <button>Log In</button>
</form>
<small>Don't have an account? <a href="/register">Register Here</a></small>
</body>

</html>